services:
  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8080:80"
    volumes:
      - ../public:/var/www/html:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
